body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: grey no-repeat center center fixed;
    background-size: contain;
    color: #fff;
}

header {
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 140px);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.capa {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 5px solid black;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

#discografia h2 {
    text-align: center;
    margin-bottom: 20px;
}

.album-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.album {
    text-align: center;
    margin: 10px;
    margin-bottom: 175px;
}

.album-cover {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

#media {
    padding: 20px;
    text-align: center;
    margin-bottom: 115px;
}

.media-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.media-item {
    text-align: center;
    margin: 10px;
}

.media-image {
    width: 600px;
    height: 430px;
    object-fit: cover;
    border-radius: 10px;
}
